body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    /* background-color: #ffffffff; */
    background-color:#f2f2f2;
   
        
}

.logo {

    padding: 3px 3px;

}


header {
    background-image: url("imag/tu-tram-pham-202263 1.png");
    height: 400px;
    background-color: #4d94ff;
    color: #fff;
    opacity: 0.06px;

}

nav {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

}

ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    list-style: none;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;


}

li {
    display: block;
    padding: 5px;
    width: 80px;
  

}
li:hover {
    
    background-color:#3C7FD4;
    border-radius:20px ;
    text-align: center;
    cursor: pointer;


}
.social_icon {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;


}

i {
    display: block;
    padding: 15px;

}

h1 {
    text-align: center;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700px;

}

h2 {
    text-align: center;
    font-weight: 150px;
    font-size: 20px;


}

.line {
    width: 50px;
    margin: 30px;
    padding: 1px;
    background-color: rgb(15, 12, 12);
    padding-left: 50px;
    position: relative;
    margin-left: 620px;
    top: 1px;

}

.line2 {
    width: 50px;
    margin: 30px;
    padding: 1px;
    background-color: rgb(15, 12, 12);
    padding-left: 50px;
    position: relative;
    margin-left: 620px;
    top: 10px;
    background-color: #ffff;

}

header p {
    padding: 0px, 20px;
    text-align: center;
}

.section2 {

    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin: 10px, 10px;
}


.section3 {
    width: 100%;
    height: 500px;
    background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    margin-bottom: 500px;
    padding-top: 5px;

}

.section3>h3 {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500px;
    padding: 2px;


}


.contentinfo_two {
    margin-top: 80px;


}

.img1 {
    position: relative;
    left: 80px;
    bottom: 150px;
    width: 280px;
    height: 250px;
}

.img2 {
    position: relative;
    bottom: 150px;
    width: 280px;
    height: 250px;
}

.bluebox_one {
    position: relative;
    top: 50px;
    width: 280px;
    height: 250px;
    background-color: #55B7FFE5;

}

.bluebox_two {
    position: relative;
    left: 80px;
    top: 50px;
    width: 280px;
    height: 250px;
    background-color: #3333cc;

}

.boxes_two {
    margin-top: 110px;

}

.detail {

    border: 1px solid rgb(12, 11, 11);
    width: 110px;
    padding: 3px;
    text-align: center;
    margin-top: 30px;


}

.para {
    font-size: 16px;
    width: 470px;
    height: 81px;
    font-family: 'Oswald', sans-serif;


}

.slickimg1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100px;
    height: 150px;

}

.slickimg1 {

    width: 250px;
    height: 150px;

}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;


}

.cards_content {
    width: 248px;
    height: 150px;
    background-color: #ffffff;
    font-size: 12px;
    text-align: center;
    border: 1px solid #ffff;

}
.slickimg {
    width: 580px;
    height: 408px;
    margin: 0px 10px;


}
.slickimg2 {
    width: 350px;
    height: 200px; 
    margin: 0px 10px;


}

.gallery {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #ffff;


}

.contentwrap {
    padding-top: 100px;

}

.contentwrap h3 {
    text-align: center;
   

}

.contentwrap hr {

    background-color: rgb(8, 7, 7);

}
#map {
    height: 80%;
    
    margin:50px 10px;
    /* padding: 0px; */
}